@model IEnumerable<Record>
@{
    ViewData["Title"] = "Home";
}

<div class="card-columns">
    @foreach(Record r in Model)
    {
        <div class="card">
            @if(r.ImageData != null)
            {
                <img class="card-img-top image" src="@Url.Action("GetImage", "Records", new { id = r.RecordId })" />
            }
            else
            {
                <img class="card-img-top image" src="~/img/placeholder.jpg" />
            }
            <div class="card-body">
                <h6 class="card-title">@r.Title</h6>
                <p class="card-text">@r.Artist.Name</p>
                <a class="card-link" asp-controller="Records" asp-action="Record" asp-route-id="@r.RecordId">More info</a>
            </div>
        </div>
    }
</div>