<div>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Категория 1</a></li>
        <li class="list-group-item"><a href="#">Категория 2</a></li>
        <li class="list-group-item"><a href="#">Категория 3</a></li>
    </ul>
</div>