@model IEnumerable<Artist>
@{
    ViewData["Title"] = "Artists";
}

<div class="content">
    <div class="row">

        @foreach(Artist a in Model)
        {
            <div class="cell col-12 col-md-3">
                @if(a.ImageData != null)
                {
                    <img class="card-img-top image" src="@Url.Action("GetImage", "Artists", new { id = a.ArtistId })" />
                }
                else
                {
                    <img class="card-img-top image" style="width:100%" src="~/img/placeholder.jpg" />
                }
                <h6>@a.Name</h6>
                <p>@a.CountryName</p>
                <a class="more-artist-info" asp-controller="Artists" asp-action="Artist" asp-route-id="@a.ArtistId">More info</a>
            </div>
        }
    </div>
</div>