@model IEnumerable<Artist>
@{
    ViewData["Title"] = "Artists";
}

<div class="card-columns">
    @foreach(Artist a in Model)
    {
        <div class="card">
            @if(a.ImageData != null)
            {
                <img class="card-img-top" style="width:100%" src="@Url.Action("GetImage", "Artists", new { id = a.ArtistId })" />
            }
            else
            {
                <img class="card-img-top" style="width:100%" src="~/img/placeholder.jpg" />
            }
            <div class="card-body">
                <h6 class="card-title">@a.Name</h6>
                <p class="card-text">@a.CountryName</p>
                <a class="card-link" asp-controller="Artists" asp-action="Artist" asp-route-id="@a.ArtistId">More info</a>
            </div>
        </div>
    }
</div>