@{
    ViewData["Title"] = "Index";
}

<div id="admin" class="content">
    <h2>Countries</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="country in countries">
                    <td>{{ country }}</td>
                    <td>
                        <button v-on:click="deleteCountry(country)" class="btn btn-danger delete-country">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="NewCountry">New</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Genres</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Genre</th>
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="genre in genres">
                    <td>{{ genre }}</td>
                    <td>
                        <button v-on:click="deleteGenre(genre)" class="btn btn-danger delete-genre">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="NewGenre">New</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Artists</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th width="100"></th>
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="artist in artists" id="artist.ArtistId" class="artist-row">
                    <td>{{ artist.Name }}</td>
                    <td>{{ artist.CountryName }}</td>
                    <td>
                        <a class="btn btn-info" v-bind:href="'/Admin/EditArtist?artistId=' + artist.ArtistId">Edit</a>
                    </td>
                    <td>
                        <button v-on:click="deleteArtist(artist.ArtistId)" class="btn btn-danger delete-artist">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="NewArtist">New</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Records</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th width="100"></th>
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="record in records" class="record-row">
                    <td>{{ record.Title }}</td>
                    <td>{{ record.Artist.Name }}</td>
                    <td>{{ record.GenreId }}</td>
                    <td>{{ record.Amount }}</td>
                    <td>{{ record.Type }}</td>
                    <td>
                        <a class="btn btn-info" v-bind:href="'/Admin/EditRecord?recordId=' + record.RecordId">Edit</a>
                    </td>
                    <td>
                        <button v-on:click="deleteRecord(record.RecordId)" class="btn btn-danger delete-record">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="NewRecord">New</a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
