@{
    ViewData[ "Title" ] = "Index";
}

<div class="content">
    <h2>Cart</h2>

    <table id="cart" class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Amount</th>
                <th width="100"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="product in products">
                <td>
                    <a v-bind:href="'/Artist/' + product.Record.ArtistId">{{ product.Record.Artist.Name }}</a> -
                    <a v-bind:href="'/Record/' + product.Record.RecordId">{{ product.Record.Title }}</a>
                </td>
                <td>{{ product.Record.Price }}</td>
                <td>{{ product.Amount }}</td>
                <td><button class="btn btn-danger delete-item" v-on:click="deleteRecord(product.Record.RecordId)">Delete</button></td>
            </tr>
            <tr>
                <td>Total price:</td>
                <td>{{ total }}₽</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" asp-controller="Cart" asp-action="Order">Order</a>
</div>
